@if(productsArr.length){
  <section class="my-20">
    <div class="container">
      <h1 class="sectionTitle">All Products</h1>

      <input [(ngModel)]="searchKey" class="rounded-full focus:ring-black focus:border-black transition-all duration-[0.2s] w-1/3 my-8 block mx-auto" type="text" placeholder="Search for a product">

      <div class="mt-4 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        @for (product of productsArr | search: searchKey; track product._id) {
          <div class="product p-3 cursor-pointer" [routerLink]="['/product-details', product._id]">
            <div class="productImg w-[85%] mx-auto relative overflow-hidden">
              <img [src]="product.imageCover" class="block" [alt]="product.title">

              <div>
                <button class="uppercase btn-main w-[90%] block absolute bottom-[-50%] left-1/2 translate-x-[-50%]"><span class="me-2"><i class="fa-solid fa-cart-plus"></i></span>Add to cart</button>
              </div>
            </div>

            <div>
              <div class="flex flex-wrap justify-between mt-4">
                <h2 class="font-medium">{{product.title.split(' ').slice(0,2).join(' ')}}</h2>
                <h3 class="font-medium">{{product.price}} EGP</h3>
              </div>

              <div class="flex flex-wrap justify-between mt-3">
                <h3 class="text-sm font-medium text-gray-500">{{product.category.name}}</h3>
                <h3 class="text-sm font-medium text-gray-500">{{product.ratingsAverage}} <span class="rating-color"><i class="fa-solid fa-star"></i></span></h3>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}
