<section class="py-20">
  <div class="container">
    <h1 class="font-semibold text-3xl text-center mb-10">Verify your code</h1>

    <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()" class="w-1/3 mx-auto">
      @let resetCodeControl = verifyCodeForm.get('resetCode');

      <p class=" mb-10 text-center">Enter the reset code sent to your email address below to reset your password.</p>

      <div>
        <input type="text" formControlName="resetCode" id="resetCode" placeholder="Reset Code" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black transition-all duration-[0.2s] block w-full p-2.5 mt-3" [class.invalidInput]="resetCodeControl?.errors && (resetCodeControl?.touched || resetCodeControl?.dirty)">

        @if(resetCodeControl?.errors && resetCodeControl?.touched){
          <div class="flex p-4 mt-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if(resetCodeControl?.getError('required')){<li>Please enter the reset code</li>}
              </ul>
            </div>
          </div>
        }
      </div>

      <div class="mt-10">
        <button class="btn-main w-1/3 block mx-auto">
          @if (!isLoading) {Submit Code}
          @if (isLoading) {<span><i class="fa-solid fa-spinner fa-spin"></i></span>}
        </button>
      </div>
    </form>
  </div>
</section>
