<section class="my-10">
  <div class="container">
    @if (allOrdersData?.length == 0) {
      <img src="./images/emptyOrders.jpg" class="w-[35%] mx-auto" alt="Cart is empty">
    } @else{
      <div class="mb-10">
        <h2 class="text-[24px] font-medium mb-5">Thank you for your purchase!</h2>
        <p>Your order will be processed within 24 hours during working days. We will notify you by email once your order has been shipped.</p>
      </div>

      @for(order of allOrdersData; track order._id){
        <div class="flex flex-col gap-10 lg:gap-16 lg:flex-row lg:items-center border-b-2 py-5">
          <div class="userInfo border-b-2 pb-10 order-3 lg:border-b-0 lg:pb-0 lg:w-[50%] lg:order-first">
            <div>
              <h3 class="text-[18px] font-bold">Billing address</h3>

              <div>
                <table class="w-[60%] lg:w-[80%] mt-3">
                  <tr>
                    <td class="font-medium py-2">Name:</td>
                    <td class="py-2">{{order.user.name.charAt(0).toUpperCase().concat(order.user.name.slice(1))}}</td>
                  </tr>
                  <tr>
                    <td class="font-medium py-2">Address:</td>
                    <td class="py-2">{{order.shippingAddress.details}}</td>
                  </tr>
                  <tr>
                    <td class="font-medium py-2">City:</td>
                    <td class="py-2">{{order.shippingAddress.city}}</td>
                  </tr>
                  <tr>
                    <td class="font-medium py-2">Phone:</td>
                    <td class="py-2">{{order.shippingAddress.phone}}</td>
                  </tr>
                  <tr>
                    <td class="font-medium py-2">Email:</td>
                    <td class="py-2">{{order.user.email}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="orderInfo mt-5 order-1 lg:mt-0 lg:border-s-2 lg:ps-16 lg:w-[50%] lg:order-last">
            <h3 class="text-[18px] font-bold mb-5">Order Summary</h3>

            <div class="flex justify-between text-center mb-10 flex-wrap sm:flex-nowrap">
              <div>
                <h3 class="font-medium">Order Date:</h3>
                <h3>{{order.createdAt | date:'shortDate'}}</h3>
              </div>

              <div>
                <h3 class="font-medium">Order Number:</h3>
                <h3>{{order._id}}</h3>
              </div>

              <div>
                <h3 class="font-medium">Payment Method:</h3>
                <h3>{{order.paymentMethodType.charAt(0).toUpperCase().concat(order.paymentMethodType.slice(1))}}</h3>
              </div>
            </div>

            @for(item of order.cartItems; track item._id){
              <div class="flex justify-between items-center shadow-[0_0_3px_#dad9d9] p-5 mb-5">
                <div class="w-1/5">
                  <div class="productImg">
                    <img [src]="item.product.imageCover" class="w-[70%] object-contain mx-auto" [alt]="item.product.title">
                  </div>
                </div>

                <div class="w-1/2">
                  <div class="productData flex flex-col gap-2">
                    <h3 class="font-medium">{{item.product.title}}</h3>
                    <h3><span class="font-medium pe-2">Category:</span> {{item.product.category.name}}</h3>
                    <h3><span class="font-medium pe-2">Quantity:</span> {{item.count}}</h3>
                  </div>
                </div>

                <div class="w-1/5">
                  <div class="productPrice">
                    <h3>{{item.price | currency:'EGP'}}</h3>
                  </div>
                </div>
              </div>
            }

            <div class="mt-10">
              <div class="flex justify-between">
                <h3 class="py-2 font-medium">Taxes:</h3>
                <h3 class="py-2">{{order.taxPrice | currency:'EGP'}}</h3>
              </div>

              <div class="flex justify-between">
                <h3 class="py-2 font-medium">Shipping:</h3>
                <h3 class="py-2">{{order.shippingPrice | currency:'EGP'}}</h3>
              </div>

              <div class="flex justify-between">
                <h3 class="py-2 font-medium">Total Price:</h3>
                <h3 class="py-2">{{order.totalOrderPrice | currency:'EGP'}}</h3>
              </div>
            </div>
          </div>
        </div>
      }
    }

    <!-- Prev UI -->
    <!-- <div class="lg:flex gap-16 lg:items-center">
      <div class="userInfo border-b-2 pb-10  lg:border-b-0  lg:pb-0">
        <div>
          <h2 class="text-[24px] font-medium mb-5">Thank you for your purchase!</h2>
          <p>Your order will be processed within 24 hours during working days. We will notify you by email once your order has been shipped.</p>
        </div>

        <div class="mt-10">
          <h3 class="text-[18px] font-bold">Billing address</h3>

          <div>
            <table class="w-[60%] lg:w-[80%] mt-3">
              <tr>
                <td class="font-medium py-2">Name:</td>
                <td class="py-2">{{allOrdersData.user.name.charAt(0).toUpperCase().concat(allOrdersData.user.name.slice(1))}}</td>
              </tr>
              <tr>
                <td class="font-medium py-2">Address:</td>
                <td class="py-2">{{allOrdersData.shippingAddress.details}}</td>
              </tr>
              <tr>
                <td class="font-medium py-2">City:</td>
                <td class="py-2">{{allOrdersData.shippingAddress.city}}</td>
              </tr>
              <tr>
                <td class="font-medium py-2">Phone:</td>
                <td class="py-2">{{allOrdersData.shippingAddress.phone}}</td>
              </tr>
              <tr>
                <td class="font-medium py-2">Email:</td>
                <td class="py-2">{{allOrdersData.user.email}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="orderInfo mt-10 lg:mt-0 lg:border-s-2 lg:ps-16">
        <h3 class="text-[18px] font-bold mb-5">Order Summary</h3>

        <div class="flex justify-between text-center mb-10 flex-wrap sm:flex-nowrap">
          <div>
            <h3 class="font-medium">Order Date:</h3>
            <h3>{{allOrdersData.createdAt | date:'shortDate'}}</h3>
          </div>

          <div>
            <h3 class="font-medium">Order Number:</h3>
            <h3>{{allOrdersData._id}}</h3>
          </div>

          <div>
            <h3 class="font-medium">Payment Method:</h3>
            <h3>{{allOrdersData.paymentMethodType.charAt(0).toUpperCase().concat(allOrdersData.paymentMethodType.slice(1))}}</h3>
          </div>
        </div>

        @for(item of allOrdersData.cartItems; track $index){
          <div class="flex justify-between items-center shadow-[0_0_3px_#dad9d9] p-5 mb-5">
            <div class="w-1/5">
              <div class="productImg">
                <img [src]="item.product.imageCover" class="w-[70%] object-contain mx-auto" [alt]="item.product.title">
              </div>
            </div>

            <div class="w-1/2">
              <div class="productData flex flex-col gap-2">
                <h3 class="font-medium">{{item.product.title}}</h3>
                <h3><span class="font-medium pe-2">Category:</span> {{item.product.category.name}}</h3>
                <h3><span class="font-medium pe-2">Quantity:</span> {{item.count}}</h3>
              </div>
            </div>

            <div class="w-1/5">
              <div class="productPrice">
                <h3>{{item.price | currency:'EGP'}}</h3>
              </div>
            </div>
          </div>
        }

        <div class="mt-10">
          <div class="flex justify-between">
            <h3 class="py-2 font-medium">Taxes:</h3>
            <h3 class="py-2">{{allOrdersData.taxPrice | currency:'EGP'}}</h3>
          </div>

          <div class="flex justify-between">
            <h3 class="py-2 font-medium">Shipping:</h3>
            <h3 class="py-2">{{allOrdersData.shippingPrice | currency:'EGP'}}</h3>
          </div>

          <div class="flex justify-between">
            <h3 class="py-2 font-medium">Total Price:</h3>
            <h3 class="py-2">{{allOrdersData.totalOrderPrice | currency:'EGP'}}</h3>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

