<footer class="bg-gray-50 py-10">
  <div class="w-11/12 mx-auto flex flex-wrap justify-between gap-8">
    <div>
      <h2 class="m-0 text-2xl">Subscribe for latest news</h2>
      <p class="text-gray-500 text-sm mt-3">
        We will send you an email with our latest news and offers.
      </p>

      <div class="flex items-center gap-3 text-nowrap mt-3">
        <input type="text" class="w-[300px] rounded-lg border-gray-300 px-3" placeholder="Email" />
        <button class="btn-main">Subscribe</button>
      </div>
    </div>

    <div class="px-4">
      <h3 class="mb-3 font-medium">Pages</h3>
      <ul class="footerLinks flex flex-col gap-2">
        <li>
          <a class="text-gray-500 hover:text-black hover:font-medium"  routerLink="home">Home</a>
        </li>
        <li>
          <a class="text-gray-500 hover:text-black hover:font-medium"  routerLink="products">Products</a>
        </li>
        <li>
          <a class="text-gray-500 hover:text-black hover:font-medium"  routerLink="categories">Categories</a>
        </li>
        <li>
          <a class="text-gray-500 hover:text-black hover:font-medium"  routerLink="brands">Brands</a>
        </li>
      </ul>
    </div>

    <div class="pay-details md:flex flex-col items-center my-3 gap-3">
      <div class="flex gap-3">
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a class="text-lg py-2 px-1  text-slate-500 hover:text-[var(--main-color)] hover:cursor-pointer transition-colors duration-500 rounded-ful">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get FreshCart app</h3>
        <img src="./images/get-google-play.png" width="100px" alt="" />
        <img src="./images/get-apple-store.png" width="100px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment partners</h3>
        <img src="./images/amazon-pay.png" width="50px" alt="" />
        <img src="./images/American-Express-Color.png" width="50px" alt="" />
        <img src="./images/paypal.png" width="50px" alt="" />
        <img src="./images/mastercard.webp" width="50px" alt="" />
      </div>
    </div>
  </div>
</footer>
