/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --green-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Mona Sans", serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

.container{
  @apply w-[90%] mx-auto;
}

.invalidInput{
  @apply border-red-500 focus:border-red-500 focus:ring-red-500 !important;
}

.nav-link {
  transition: unset !important;
}

.owl-carousel{
  position: relative;

  .owl-dots{
    .owl-dot{
      &.active span{
        background-color: black;
      }

      span{
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        transition: background-color 0.3s;

        &:hover{
          background-color: black;
        }
      }
    }
  }

  .owl-nav [class*=owl-] {
    color: rgb(145, 145, 145) !important;
    background: transparent;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, color 0.3s;

    &:hover{
      background-color: transparent;
      color: black !important;
    }
  }

  .owl-nav{
    .owl-prev{
      left: -55px;
    }

    .owl-next{
      right: -55px;
    }
  }
}

.sectionTitle{
  @apply capitalize font-semibold text-2xl;
}

.rating-color {
  color: var(--rating-color);
}

a, a:hover {
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px rgb(203, 203, 203);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 8px gray;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

.btn-main {
  @apply bg-black py-[7px] px-[20px] border-[1px] border-black rounded-full text-white hover:bg-white hover:text-black transition-all duration-[0.3s];
}

.btn-main:hover {
  background-color: white;
  color: black;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
